@import"reset";
@import "fonts";
@import "variables";
@import "mixin";


body{
	font-size: $small-text;
	color:$color;
	font-family: $font;
}

/*Formatting for the upper logo*/
header{
	width:25%;
	padding:1%;
}

/*Formatting for the Search portion of the page*/

.search-container{
		background-image:url("../images/pattern.png");
		text-align: center;
}

.search-container img{
	width:15%;
	margin: auto;
	padding-top:10%;
	padding-bottom: 5%;
	@include bp(tablet) {
		padding-top:5%;
		padding-bottom: 2%;
	}
}

.search-input{
	background-color: white;
	padding: 0%;
	display: inline-block;
	margin:0%;
	border: none;
 	outline: none;
 	margin-bottom:10%;
 	@include bp(tablet) {
		margin-bottom: 5%;
	}
 }

button{
	background-color: white;
	display: inline-block;
	border: none;
	outline: none;
	color: $search-color;
}


/*Formatting for the Results section of the page*/

.results-container{
	width: 97%;
	margin: 1%;
	border: 1px solid #c2c2c2;
}

.loading-gif{
	text-align: center;
	display:none;
}

ul{
	list-style: none;
	text-align: center;
	margin: auto;
	padding:0%;
}

.photo-list{
	@include bp(tablet) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
  		justify-content: space-around;
	}
}


.photo-container{
	border:1px solid $search-color;
  	padding-top: 0%;
	margin: 2%;
	@include bp(tablet) {
		width:250px;
	}
	@include bp(desktop) {
		width:200px;
	}
} 


.main-image img{ 
width:100%;
}

.image-info{
	display:flex;
  justify-content:space-between;
}

.image-info img{
	max-width: 100%;
}

.profile-photo{
	border-radius:50%;
	width: 50px;
	height: 50px;
	background-size:cover;
	overflow:hidden;
	margin:1rem;
	text-align: left;
	@include bp(tablet) {
		width:45px;
		height: 45px;
	}
	@include bp(desktop) {
		width:40px;
		height:40px;
	}
}

.username{
  display:flex;
  flex-direction:column;
  justify-content:right;
  text-align:right;
  padding-right:1rem;
   overflow:hidden;


}
h1{


	@include bp(tablet) {
		font-size:1.25em;
	}
} 

.likes {
flex-direction:row;
}





// .loadmore {
// 	padding:0%;
// 	padding:10px;
// 	margin:auto;
// 	text-align: center;
// 	margin-bottom:5%; 
//     margin-top: 5%;
// }

// .button {
// 	background-color:red;
// 	width:200px;
//     height:auto;
//     margin:auto;
// 	border:1px solid $color;
// 	margin-bottom: 5%;
//     color: white;
//     text-align: center;
//     font-weight:bold;
// }
/*Formatting for the Footer of the page*/

footer{
	text-align: center;
	border-top: 1px solid $color;
	margin-top: 20%
}
