@import"reset";
@import "fonts";
@import "variables";
@import "mixin";

* {
	box-sizing: border-box;
}

body, html{
	font-size:$small-text;
	font-size:1.2rem;
	color:$color;
	font-family: $font;
}

.container{
	max-width: 1000px;
}

h1{
	font-size: .8rem;
	margin-bottom: 0;
}
/*Formatting for the upper logo*/
.logo{
	max-width: 150px;
	margin: 1rem auto;
	display:block;
}

/*Formatting for the Search portion of the page*/

.search-container{
	background-image:url("../images/pattern.png");
	text-align: center;
	padding:3rem;
	img{
		width:150px;
		margin: auto;

		@include bp(tablet) {
			padding-top:5%;
			padding-bottom: 2%;
		}
	}
}


form{
	margin-top: 3rem;
}

.search-input{
	background-color: white;
	padding: 0%;
	display: inline-block;
	margin:0%;
	border: none;
	outline: none;
	@include bp(tablet) {
		margin-bottom: 5%;
	}
}

input{
	
	font-family: 'Open Sans',serif;
	padding: .33333rem 2.5rem .33333rem 1rem;
    font-size:.8rem;
    font-family: $font;
    border: 1px solid #dbdbdb;
}
// button{
// 	background-color: white;
// 	display: inline-block;
// 	border: none;
// 	outline: none;
// 	color: $search-color;
// }

#search-words{
	border:none;
}


button {
	border: 0;
	background-color:white;
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 10px;
	font-size: 1rem;
	line-height: 1;
	padding: 0 .33333rem 0 0;
	right: .5rem;
	top: .33333rem;
	color: #c2c2c2;
	font-weight: bold;
}

button:focus {
  outline: none;
}
/*Formatting for the Results section of the page*/

.results-container{
	margin: 3rem .5rem;
	text-align: center;
	border: 2px solid #c2c2c2;
	@include bp(desktop) {
		margin: 3rem auto;
		max-width:1000px;
	}	
}

.loading-gif{
	text-align: center;
	display:none;
}

ul{
	list-style: none;
	text-align: center;
	margin: auto;
	padding:0%;
}

.photo-list{
	@include bp(tablet) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
	}
}


.photo-container{
	border:1px solid $search-color;
	padding-top: 0%;
	margin: 2%;
	@include bp(tablet) {
		width:250px;
	}
	@include bp(desktop) {
		width:200px;
	}
} 


.main-image img{ 
	width:100%;
	border-bottom:1px solid #dbdbdb;
}

.image-info{
	display:flex;
	justify-content:space-between;
	padding: .5rem;
}

.image-info img{
	max-width: 100%;
}

.profile-photo{
	border-radius:50%;
	width: 50px;
	height: 50px;
	background-size:cover;
	overflow:hidden;
	margin:0;
	text-align: left;
	@include bp(tablet) {
		width:45px;
		height: 45px;
	}
	@include bp(desktop) {
		width:40px;
		height:40px;
	}
}

.username{
	display:flex;
	flex-direction:column;
	justify-content:right;
	text-align:right;

	overflow:hidden;


}
h1{


	@include bp(tablet) {
		font-size:1.25em;
	}
} 

.likes {
	flex-direction:row;
	font-size: 6px;
	font-size: .6rem;
}




// .loadmore {
// 	padding:0%;
// 	padding:10px;
// 	margin:auto;
// 	text-align: center;
// 	margin-bottom:5%; 
//     margin-top: 5%;
// }

// .button {
// 	background-color:red;
// 	width:200px;
//     height:auto;
//     margin:auto;
// 	border:1px solid $color;
// 	margin-bottom: 5%;
//     color: white;
//     text-align: center;
//     font-weight:bold;
// }
/*Formatting for the Footer of the page*/

footer{
	text-align: center;
	margin:.5rem;
	border-top: 1px solid #dbdbdb;
	color:#8c8c8c;
	font-size:.65rem
}

